.card-area {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    grid-template-rows: repeat(6, 60px);
    position: relative;
}
.card {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.45);
}

.card-back {
    grid-column: 2 / 6;
    grid-row: 2 / 5;
    background: lightgray;
    border-radius: 20px;
    /*position: relative;*/
    z-index: 1;
}
.card-front {
    grid-column: 1 / 5;
    grid-row: 1 / 4;
    background: lightgray;
    border-radius: 20px;
    z-index: 3;
}
.black-strip {
    grid-column: 2 / 6;
    grid-row: 2 / 3;
    background-color: black;
    height: 30px;
    align-self: start;
    margin-top: 20px;
    z-index: 2;
    
}
.card-front {
    grid-column: 1 / 5;
    grid-row: 1 / 4;
    background: lightgray;
    z-index: 2;
    /*Adding this but it wasn't there before*/
    position: relative;
}
.card-emoji {
   font-size: xx-large;
    position: absolute;
    top: 20px;
    right: 20px;
}
.total {
    position: absolute;
    top: 30px;
    left: 20px;
}
.label {
    display: block;
    margin-top: 8px;
}
input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}