.card-area {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    grid-template-rows: repeat(6, 60px);
    position: relative;
}
.card {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.card-back {
    grid-column: 2 / 6;
    grid-row: 2 / 5;
    background: lightgray;
    z-index: 1;
}
.card-front {
    grid-column: 1 / 5;
    grid-row: 1 / 4;
    background: lightgray;
    z-index: 2;
}