.form-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 100px);
}
.rectangle-one {
    grid-template-columns: 1 / 3;
    grid-row: 1 / 3;
    background-color: lightgray;
    border-radius: 12px;
    padding: 20px;
    width: 300px;
}