/*font site:*/
/*https://fonts.google.com/share?selection.family=Amatic+SC:wght@400;700*/

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    gap: 1em;
}
.logoTitle {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
}
.logo {
    width: 85px;
    height: auto;

}

h1 {
    margin: 0;
    font-family: "Amatic SC", cursive;
    font-size: 50px;
    margin-top: 15px;
}

button img {
    width: 10px;
    height: auto;
}
.recipeCard {
    border: 2px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.recipeImage {
    width: 350px;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    justify-content: center;
}
.recipeType {
    border: 1px solid lightgray;
    border-radius: 2px;
    text-align: center;
    background-color: rgb(231, 228, 228);
    width: fit-content;
    padding: 5px;
    margin-left: 20px;
    margin-top: 2px;
}
.recipeType p {
    margin: 0;
}

.recipeTitle {
    font-family: "Amatic SC", cursive;
    color: rgb(0, 165, 231);
    margin: 20px 0 0 20px;
}
.starRating {
    margin: 0 0 20px 20px;
}
.recipeDescription {
    display: none;
}
.socialMediaIcons {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 10px;
}
.socialMediaIcons img {
    width: 30px;
    height: auto;
}