
* {
box-sizing: border-box;
}

body {
font-size: 20px;
max-width: 1280px;
margin: auto;
padding: 1em;
}

img {
max-width: 20%;
}

.main-nav {
list-style-type: none;
display: flex;
gap: 1em;
/*If you want the menu in a column:*/
flex-direction: column;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.gallery > * {
    flex: 1 1 460px;
}

hr{
margin-top: 50px;
}

@media screen and (min-width: 550px) {
    .recipe-nav {
        flex-direction: row;
        justify-content: flex-end;
    }
    .recipe-card {
        flex-direction: row;
    }
    .recipe-card-image {
        flex: 0 1 250px;
    }
    .recipe-card-content {
        flex: 0 1 60ch;
    }
}
              