/*font site:*/
/*https://fonts.google.com/share?selection.family=Amatic+SC:wght@400;700*/

body {
    font-family: sans-serif;
}

.logo {
    width: 80px;
    height: auto;
}

h1 {
    font-family: "Amatic SC", cursive;
}

button img {
    width: 10px;
    height: auto;
}
.recipeImage {
    width: 250px;
    height: auto;
}