@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: lightgray;
    padding: 20px;
}
h1, h2, footer {
    text-align: center;
}
header, footer {
    color: white;
    background-color: #5088e0;
    padding: 20px;
}
nav a {
    padding: 20px;
    display: none;
    color: white;
    /*display: block;*/
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 5px solid white;
    margin: 5px;
}


@media screen and (min-width: 700px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    .menu-btn {
        display: none;
    }
    nav a {
        display: inline;
    }
    nav {
        text-align: center;
    }
}
@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }    
}