/*https://jigsaw.w3.org/css-validator/*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: #ccc;
}
header,
footer {
  padding: 1rem;
  background-color: #008ae6;
  text-align: center;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
h1 {
    text-align: center;
    color: white;
}
.section-title {
    display: block;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}
section {
    border: 1px solid #ccc;
    margin: 1em;

    /*width: 350px;*/
    padding: 10px;
    box-sizing: content-box;
}
.gallery {
    max-width: 1000px;
    margin: 0 auto;
}
.gallery-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    max-width: 1000px;
    margin: 0 auto;
}
figure img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 5px;
    background-color: white;
    box-shadow: 5px 5px 15px black;
    display: block;
    margin: 0 auto;
}
/* modal */ 
dialog img {
    width: 90%;
    max-width: 100%;
    display: block;
    margin: 10vh auto;
}
dialog {
    margin: 0;
    width: 100%;
    margin: 10vh auto;
    background: transparent;
    border: none;
    padding: 0;
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

nav a {
    padding: 20px;
    color: white;
    display: block;
    text-align: center;
}

.hide {
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu {
    color: white;
}
.menu-btn {
    background-color: transparent;
    border: none;
    color: white;
}
footer {
    text-align: center;
    color: white;
}

@media screen and (min-width: 700px) {
    .gallery-grid {
        grid-template-columns: 1fr 1fr;
    }    

}
@media screen and (min-width: 1000px) {
    .gallery-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
        .menu {
            display: none;
        }
        .menu-btn {
        display: none;
    }
    nav {
        text-align: center;
        display: block;
    }
    nav a {
        display: inline;      
    }
    nav.hide {
        display: block;
    }
    dialog img {
        width: 60%;
    }
    .close-viewer {
        position: absolute;
        right: 50px;
    }
    .viewer {
        margin: 50px;
        padding: 50px;
    }
    .viewer img {
        max-width: 800px;
    }
}
