/*https://jigsaw.w3.org/css-validator/*/

h1 {
    text-align: center;
    margin: 35px 0;
}
.gallery {
    max-width: 1000px;
    margin: 0 auto;
}
/*Takes the images are not a true square, object-fit: cover allows the image not to distort and crops the images*/
figure img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 5px;
    background-color: white;
    box-shadow: 5px 5px 15px black;
    display: block;
    margin: 0 auto;
}
/* modal */

dialog img {
    width: 90%;
    display: block;
    /*This is a viewport height measurement*/
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    /*I don't want this to be in the natural flow of html. I want the x to be outside of the flow. It is adjusts to the parent, if there is no parent, it uses the body. You have to tell it where to be placed.*/
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

@media screen and (min-width: 700px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    dialog img {
        width: 60%;
        margin: 15vh auto;
    }
    .close-viewer {
        position: absolute;
        right: 15vh;
    }
    .viewer {
        margin: 50px;
        padding: 50px;
    }
    .viewer img {
        max-width: 800px;
    }
}
/*This is just a test to see if I can push this commit to the github repository.*/          