
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;

    background-color: #ccc;
}
header,
footer {
  padding: 1rem;
  background-color: steelblue;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
h1 {
    text-align: center;
    color: white;
}
.section-title {
    grid-column: 1 / -1;
    text-align: center;

    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}
section {
    background-color: white;
    border: 1px solid #ccc;
    margin: 1em;

    width: 300px;
    padding: 10px;
    box-sizing: content-box;

    box-shadow: 8px 4px 15px rgba(0, 0, 0, 0.15)
}
img {
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover;
}
nav a {
    padding: 20px;
    color: white;
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    background-color: transparent;
    border: none;
    color: white;
}
footer {
    text-align: center;
    color: white;
}

@media screen and (min-width: 744px) {
    main {
        grid-template-columns: 1fr 1fr;
    }

}
@media screen and (min-width: 1120px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
        .menu-btn {
        display: none;
    }

    nav a {
        display: inline;
    }

    nav {
        text-align: center;
    }
}