
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}
h1 {
    text-align: center;
}
section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}

p {
    text-align: center;
    color: white;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: center;
}

nav a {
    align-items: center;
    padding: 20px;
    color: white;
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
footer {
    text-align: center;
}
@media screen and (min-width: 700px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }  
    .menu-btn {
        display: none;
    }
    nav a {
        display: inline;
    }
    nav {
        text-align: right;
    }
}

@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
                