@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: #ccc;
}
header,
footer {
  padding: 1rem;
  background-color: #008ae6;
  text-align: center;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
h1 {
    text-align: center;
    color: white;
}
.section-title {
    display: block;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}
section {
    background-color: white;
    border: 1px solid #ccc;
    margin: 1em;

    width: 300px;
    padding: 10px;
    box-sizing: content-box;

    /*The example has a drop shadow around the sections, here are sites I found to find out how to do it:
    
    https://learn.microsoft.com/en-us/power-pages/getting-started/tutorial-add-custom-style
    
    https://learn.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/platform-apis/ff975625(v=vs.85)
    */
    box-shadow: 8px 4px 15px rgba(0, 0, 0, 0.35)
}
img {
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover;
}
nav a {
    padding: 20px;
    color: white;
    display: block;
    text-align: center;
    /*display: none;*/
}
/*So far, when the browser page is at desktop view */
.hide {
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    background-color: transparent;
    border: none;
    color: white;
}
footer {
    text-align: center;
    color: white;
}

@media screen and (min-width: 744px) {
    main {
        grid-template-columns: 1fr 1fr;
    }

}
@media screen and (min-width: 1120px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
        .menu-btn {
        display: none;
    }
    nav {
        text-align: center;
        display: block !important;
    }
    nav a {
        display: inline;      
    }
}

/*Sites I used for help:
https://learn.microsoft.com/en-us/previous-versions/visualstudio/design-tools/expression-studio-4/ee371209(v=expression.40)

https://www.w3schools.com/css/css_important.asp

These sites are where I learned how to use the !important where it overrides the header nav and helps it show instead of hiding it. I couldn't find a better way to do this.
*/