body {
    background-color: white;
    font-size: 20px;
}
#content {
    /* max-width: 100%;*/ 
    /* trying a different size for the max-width per the feedback */
    max-width: 800px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 40px auto;
    padding: 40px 50px;
    background-color: white;
}

hr{
    border: none;
    border-top: 1px solid #ccc;
    width: 100%;
    /*This was where the error was, it needs to be margin, not margin-top:*/
    margin: 0 auto 1.2em auto;
}
h1{
    text-align: center;
    /* font-weight: 400; */ 
    /*Trying a different font-weight for the bold font weight*/
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin-bottom: 0.4em;
    font-size: 2.5rem;
}
h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    /* font-weight: 400;*/
    font-weight: 600;
    color: #035f9c;
    letter-spacing: 0.1em;
    margin-top: 0;
    margin-bottom: 0.3em;
}

p {
    font-family: Garamond, serif;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1em;
}

img {
    width: 100px;
    display: block;
    margin: 4em auto 0 auto;
}
#topics {
    line-height: 1.5em;
    margin: 0 auto;
    width: 90%;
    box-sizing: border-box;
    padding: 0 10px;
}
ul.list li {
    list-style-type: decimal;
    padding-left: 1.5em;
    font-family: Garamond, serif;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.8em;
}

.top-left-controls {
    position: fixed;
    top: 10px;
    left: 10px;
}
body.dark {
    background-color: #333;
    color: white;
}
body.dark #content {
    background-color: #333;
    border-color: white;
}
body.dark h2 {
    color: #7fb7ff;
}
