/* example comments: header */

/* body */
body {
    background-color: white;
    font-size: 20px;
}
#content {
    max-width: 60%;
    border: .5px solid darkgrey;
    margin: 40px auto;
    padding: 50px;
}

hr{
    height: .5px;
    background-color: darkgray;
    width: 80%;
    margin-top: 10px;
}
h1{
    text-align: center;
}
h3 {
    text-align: center;
    font-size: .9em;
    color: #035f9c;
}

/*#logos {
    text-align: center;
} */

img {
    width: 20%;
    display: block;
    margin: 10% auto;
}
#topics {
    line-height: 1.5em;
    margin: 0 auto;
    width: 55%;
}
.list {
    list-style-type: decimal;
}

/* example comments: footer */