body {

}
#content {
    max-width: 60%;
    border: 1px solid darkblue;
    margin: 40px auto;
    padding: 50px;
}
h1, h2 {
    text-align: center;
    letter-spacing: 6.5px;
    line-height: 1.6;
    font-weight: lighter;
}
h2 {
    margin-top: 0px;
    color: steelblue;
    font-size: smaller;
}
hr {
    width: 80%;
}
img {
    width: 10%;
    display: block;
    margin: 50px auto;
}