/* example comments: header */

/* body */
body {
    background-color: white;
    font-size: 20px;
}
#content {
    max-width: 60%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 40px auto;
    padding: 40px 50px;
    background-color: white;
}

hr{
    border: none;
    border-top: 1px solid #ccc;
    width: 75%;
    margin-top: 0 auto 1.2em auto;
}
h1{
    font-family: Garamond, serif;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin-bottom: 0.4em;
    font-size: 2.5rem;
}
h2 {
    font-family: "Georgia", serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: #035f9c;
    letter-spacing: 0.1em;
    margin-top: 0;
    margin-bottom: 0.3em;
}

p {
    font-family: Garamond, serif;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1em;
}

img {
    width: 20%;
    display: block;
    margin: 4em auto 0 auto;
}
#topics {
    line-height: 1.5em;
    margin: 0 auto;
    width: 90%;
    box-sizing: border-box;
    padding: 0 10px;
}
ul.list {
    list-style-type: decimal;
    padding-left: 1.5em;
    font-family: Garamond, serif;
    font-size: 1rem;
    line-height: 1.5;
}

/* example comments: footer */