/*BYUI has branding pages*/
/*https://www.byui.edu/branding/fonts-typefaces*/
body {
    font-family: 'Times New Roman', Times, serif;
}
#content {
    max-width: 60%;
    border: 1px solid darkgray;
    margin: 30px auto;
    padding: 50px 80px;
}
h1, h2 {
    text-align: center;
    line-height: 1.2em; 
    text-transform: uppercase;
}
h1 {
    letter-spacing: 6px;
    font-weight: bold;
    margin-bottom: 5px;
}
h2 {
    letter-spacing: 3px;
    color: steelblue;
    font-size: smaller;
    font-weight: lighter;
    margin-bottom: 5px;
}
hr {
    width: 90%;
    margin: 0 auto 20px;

}
#italic-text {
    font-style: italic;
    margin-top: 30px;
}
p {
    line-height: 1.5em;
    width: 80%;
    margin: 30px auto;
}
img {
    width: 20%;
    margin: 50px auto 2px;
    display: block;
}
.list {
    list-style-type: decimal;
    line-height: 1.6em;
    width: 75%;
    margin: 30px auto;
}
.list li {
    margin-bottom: 14px;
}
/*Read through the rubric. I think I need css to change the dark mode and then javascript activates it.*/

.dark {
    background-color: black;
    
}