/*
  --primary-color: #31B8B3;
  --secondary-color: #28615F;
  --accent1-color: #4CA450;
  --accent2-color: #1F2937;

  --heading-font:  "Raleway", sans-serif;
  --paragraph-font: Arial, Helvetica, sans-serif;
*/
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    color: #28615f;
    margin: 0;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    font-family: "Raleway", sans-serif;
}