/* example comments: header */

/* body */
body {
    background-color: #ddd;
    font-size: 20px;
}
#content {
    max-width: 60%;
    border: 1px solid darkgrey;
    margin: 40px auto;
    padding: 50px;
}
p {
    color: #035f9c;
    font-size: 1.3em;
    
}


/* example comments: footer */