/*This is importing a font called Roboto that applies to the whole body. All children inherit the font*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
/*This sets each of the header, main and footer with a max-width where it stops growing at a 1000px*/
/*The margins are centered with 1rem auto. It gives each side equal portions so it centers it.*/
/*There is a 1px small and hard to see border that is gray*/
/*Padding is the space inside an element between the content and the border. rem is relative to root html and em is relative to the parent element*/
/*The body stays white but the background color of light blue is for the header, main and footer*/
/*rem is keeping spacing consistent across the whole page*/
header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}


/*This is added after the provided code. Not originally here.*/
/*The video says at about 10:10 minutes that you can put this here to already set it up for a grid. */
main {
    display: grid;
    grid-template-columns: 1fr;
}



/*h1 is centered*/
h1 {
    text-align: center;
}
/*section is a semantic HTML element and is used to group related content on the page. */
/*For this page, the sections are holding the scriptures.*/
/*A margin of 1em adds space to the outside of the section, applies to all four sides, and scales naturally if the text size changes. It's used to keep content spaced proportional to text.*/
/*The background-white makes each section of scripture have a white box behind it*/
section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}
/*A nav holds navigational links. display is set to none, so it doesn't show it*/
/*The nav is in the header in the html*/
nav a {
    padding: 20px;
    color: black;
    /*if this is changed to 'display: block;' it will show the navigational options for Home, Scriptures, Favorites, and About*/
    display: none;
}
/*When the nav a is shown, it has a hover effect where the line is removed and the color changes*/
nav a:hover {
    text-decoration: none;
    color: #616061;
}
/*The menu button has a hand instead of a curser arrow or the default.  */
/*by default the buttons have a border with a background so we set the border to none and the background to transparent*/
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
/*This is displaying the bars. How do you make them one above the other? Is that in the HTML? this gives each bar sizes for the width, height, background-color, and margin.*/
/*The button is in the header*/
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}
/*This centers the footer at the bottom of the page. Right now it says 'Jane Doe'*/
footer {
    text-align: center;
}
 
/*Media Query Syntax*/
/*We want this to go to two columns for the tablet. Everthing above this was for mobile and one column*/
/*This will go to two pixels when it gets to 700 pixels*/
/*We need to change the main section where the scriptures are to add the two columns.*/
/*fr is a fractional unit and it represents a share of the available space in a grid container. 1rf and 1fr are sharing space where they each have 50%, so 50% and 50% of the space*/
@media screen and (min-width: 700px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
