/*the asterisk is a universal selector and it is selecting all elements on the page*/

* {
    margin: .75rem;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 16px;
    color: #222;
    background-color: #fff;
}

/*I learned how to do this through ChatGPT. I don't know if it's in our lessons.*/
.skip-link {
    position: absolute;
    top: -40px; /* hidden offscreen */
    left: 0;
    /*Why these colors? Is there a reason for accessibility?*/
    background: #000;
    color: #fff;
    padding: 8px;
    z-index:100;
    text-decoration: none;
}
/* This is also learned from ChatGPT*/
.skip-link:focus {
    top:0; /* visible when focused */
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}
header h1 {
    font-size: 1.rem;
    margin-bottom: 10px;
}
header p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

nav ul {
    list-style: none; /*ul is bulleted. nav links are in ul, so you have to take the bullets off*/
    display: flex;
    flex-direction: column; /* mobile-first: stacked links */
    gap: 10px;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    /*I don't like the background color. It looks bad. But I'll see how it ends up and then change it.*/
    background-color: #0077cc;
    color: #fff;
    outline: none;
}

