body {
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h2, nav a {
    color: #b30059;
}
nav ul {
    list-style: none;
}
nav a {
    text-decoration: none;
}
.main-nav {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: right;
}
hr {
    border: none;
    height: 1px;
    background-color: #ffc107;
}