
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header, footer {
    padding: .5rem;
    text-align: center;
}
.main-nav {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: right;
    list-style: none;
    padding: 0;
}
.main-nav li {
    padding: 8px;
}
.main-nav a {
    color: #b30059;
    text-decoration: none;
}
hr {
    border: none;
    height: 1px;
    background-color: #ffc107;
}
.extra-line {
    border: none;
    height: 1px;
    margin: 40px auto;
}
h1, h2 {
    font-family: 'Times New Roman', Times, serif;
}
.book h2 {
    color: #b30059;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
}
.book-data {
    text-align: right;
    margin: -50px 50px;
}