@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.logo-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    background-color: #31B8B3;
}
body {
    color: #1F2937;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    max-width: 340px;
    margin: 0 auto;
}
.logo-wrapper h1 {
    margin-top: 30px;
    color: whitesmoke;
    font-family: "Raleway", sans-serif;
}
.logoImage {
    max-width: 60px;
    height: auto;
    margin-top: 18px;
    margin-bottom: 18px;
}
.welcome-wrapper {
    margin: 18px;
    text-align: center;
}
.welcome-wrapper img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
li {
    list-style: none;
}
.generator-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#repetition-generator {
    gap: 10px;
    background: #31B8B3;

}
.repetitions {
    border: 2px solid white;
    border-radius: 8px;

}
/*margin:
top    0
right  18px
bottom 18px
left   0*/
#repNumber {
    width: 265px;
    padding: 10px;
    margin: 5px;
}
button {
    border-radius: 5px;
    background-color: #28615F;
    color: white;
    padding:10px;
    width: 290px;
}
.list-totals {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}